/* global */
@import url(" https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    
}
.nav-non-collapsing{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    
}
body{
    font-family: 'Montserrat', sans-serif;
    min-width: 320px;
    overflow: auto;
    background-color: #111;
    
}
.white {
    color: white;
}
.w-200{
    width: 200px;
}
.trans-500{
    transition: all 500ms;
}
/* navbar */
nav.navbar{
    position: absolute;
    z-index: 4;
    right: 0px;
    left: 0px;
}
.container-fluid{
    position: relative;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}
.navbar-brand img{
    width: 125px;
}
#navbarColor01{
    transition: margin-right .5s;
}
input[type="search"] {
    /* background-color:; */
    border-radius: 25px;
    border: none;
    margin-left: auto;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.user-info{
    display:flex;
    height:auto;
    justify-content:space-evenly;
    align-content: center;
    align-items: center;
    color:white;
  gap: 10px;}
  .dropdown-toggle-split{
    color:white !important;
  }
  .user-info h6{
      margin: 0;
  }

  .menuToggle{
    z-index: 1000 !important;
    position: absolute;
    top: 0;
    right: 0;
    height: 80px;
    width: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
}
.menuToggle.active{
    position: fixed;
    top: auto;
}
.menuToggle::after{
    content: " ";
    z-index: 1000 !important;
    position: absolute;
    width: 25px;
    height: 2px;
    background: #ffffff;
    transform: translateY(-8px);
    transition: 0.5s;
}
.menuToggle::before{
    content: " ";
    z-index: 1000 !important;
    position: absolute;
    width: 25px;
    height: 2px;
    background: #ffffff;
    transform: translateY(8px);
    transition: 0.5s;
    box-shadow: 0 -8px 0 #ffffff;
}
.menuToggle.active::after{
    transform: translateY(0px) rotate(45deg);
    background-color: red;
    z-index: 1000 !important;
}
.menuToggle.active::before{
    transform: translateY(0px) rotate(-45deg);
    box-shadow: 0 0 0 transparent;
    background-color: red;
    z-index: 1000 !important;
}
/* sidebar */
.search-side{
    display: none ;
}
.dropdown-menu {
    background-color: #212529;
}

.dropdown{
    list-style: none;
}
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 100;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
display: block;}
.sidenav>li{
    padding-left: 10px;
}
.sidenav a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.side-fullwidth{
    width: 100%;
}
.side-width{width: 250px;}
.margin-250{
    margin-right: 250px;
}
#main {
    transition: margin-right .5s;
    min-height: 100vh;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/*Top container */

.button-holder{
    position: absolute;
    /* left:calc(50% - 190px); */
    /* bottom: 50%; */
    top: 0;
    width: 100%;
    height: 100%;
    /* width: 380px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: -5px 5px 45px -2px rgba(0,0,0,0.62);
-webkit-box-shadow: -5px 5px 45px -2px rgba(0,0,0,0.62);
-moz-box-shadow: -5px 5px 45px -2px rgba(0,0,0,0.62); */
}
.trailer-btn{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    color: #F0F0F0;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}
.trailer-text{
    font-size: 1.7rem;
    font-weight: 700;
}
.play-btn{
    font-size: 70px;
    color: white;
    padding-right: 10px;
}

.fadeInTop{
    -webkit-animation:  fadeInTop 2s both;
    -moz-animation:  fadeInTop 2s both;
    -o-animation:  fadeInTop 2s both;
    animation:  fadeInTop 2s both;
}
@-webkit-keyframes fadeInTop {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@-moz-keyframes  fadeInTop {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@-o-keyframes  fadeInTop {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes  fadeInTop {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
/* responsive */


@media screen and (max-width:900px) {
    .navbar-brand img{
        width: 100px;
    }
    input[type="search"] {
        width: 200px;
        height: 80%;
        font-size: 0.9rem;
    }
    button[type="submit"]{
        font-size: 0.9rem;
        padding: 4px;
    }
    .trailer-text{
        font-size: 1rem !important;
    }
    .play-btn{
        font-size: 40px !important;
    }
}
@media screen and (max-width:700px) {
    .search-nav{
        display: none !important;
    }
    .search-side{
        display: flex !important;
        justify-content: center;
        padding: 8px;
    }
    .user-info{
        margin: 0 20px;
    }
    input[type="search"]{
        margin-left: 0 !important;
        width: 100%;
        height: 40px;
        border-radius: 0.25rem;
    }
    button[type="submit"]{
        width: 30%;
    }
    .sidenav .nav-item{
        width: 100%;
    }
    #mySidenav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .user-info{
        margin: 0px 10px;
        width: 171px;
    }
    .navbar-brand img{
        width: 80px;
    }
}

/*footer*/

footer{
    text-align: center;
    border-top: 1px solid #fff;
    background-color:#171717 !important;
    width: 100%;
}
section a.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid;
}
.foooter-container{
    text-align: left;
}

div .update>li{
    margin-bottom: 10px;
}
.update li>a{
    border-radius: 8px;
    text-decoration: none;
    transition:  0.5s;
    padding: 4px 8px;
}

.update li>a:hover{
    background-color: #fff;
    color: #000 !important;
    border: 1px solid #fff;
}


/* tokhaaaaaaaaaaaaaaa */

.tt-container-fluid{
    width: 100%;
    min-height: 360px;
    margin-bottom: 100px;
}
.content-container{
    min-height: 960px;

}
.featured-content{
    min-height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    max-width: 100vw;

}
.top-image{
    width: 250px;
    margin-left: 250px;
    margin-top: 170px;
}
.top-content{
    display: flex;
    width: 100%;
}
.desc{
    color:white;
    width: 500px;
    margin-left: 560px;
    margin-top: 210px;
    font-family: 'Libre Baskerville', serif;
    font-size: 21px;
    position: absolute;
    
    
}
.button1{
   width: 100px;
   height: 50px;
   margin-top: 390px;
   margin-left: 110px;
   border-radius: 30px;
   background-color:rgb(1, 1, 120);
   color: white;
   font-family: 'Libre Baskerville', serif;
   border: none;
   outline: none;
   
   
}
.button2{
    width: 100px;
    height: 50px;
    margin-top: 390px;
    margin-left: 15px;
    border-radius: 30px;
    background-color: rgb(1, 1, 120);
    color: white;
    font-family: 'Libre Baskerville', serif;
    border: none;
    outline: none;

}
.plus{
    /* background-color: rgb(128, 127, 127); */
    width: 20px;
    height: 20px;
    border-radius: 30px;
    color:white;
    margin-top: 403px;
    margin-left: 8px;
    
    

}


.movie-list-container{
    padding: 0 20px;
    margin: 0 15px;
    
}


.item1{
    width: 170px;
    height: 280px;
    object-fit: cover;
    transition: all 0.5s linear;
    
    
    
}
.movie-wrapper{
    position: relative;
    width: 80%;
    margin: auto;

}
.movie-list {
    display: flex;
    min-height: 300px;
    align-items: center;
    
}
.movie-list-item{
    margin-right: 30px;
}
.movie-list-item:hover .item1{
    transform: scale(1.2);
    margin: 0 30px;
}
.movie-list-item:hover .movie-title{
    transform: scale(1.2);
    margin: 40px auto 0 30px;
}
.movie-title{
    transition: all 0.5s linear;
    color:white;
    margin-bottom: 10px;
    font-size: 20px;
    
}
.movie-button{
    width: 100px;
    background: rgb(1, 1, 120);
    color: white;
    border-radius: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-right: 40px;
    margin-top: 1px;
}
.movie-button-style{
    width: 200px;
    height: 20px;
    background: rgb(1, 1, 120);
    color: white;
    border-radius: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-right: 40px;
    margin-top: 1px;
    text-decoration: none;
}
.arrow{
    font-size: 120px;
    color: lightgray;
    position: absolute;
    top: 90px;
    right: 0;
    opacity: 0.5;
    cursor: pointer;
}