/* global */

@font-face {
    font-family: 'game of';
    src: url(../fonts/Game\ of\ Thrones.ttf);
}

@font-face {
    font-family: 'dirty';
    src: url(../fonts/D);
}

@import url(" https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

.nav-non-collapsing {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-width: 320px;
    overflow: auto;
    background-color: #111;
}

.white {
    color: white;
}

.w-200 {
    width: 200px;
}

.trans-500 {
    transition: all 500ms;
}


/* navbar */

nav.navbar {
    position: absolute;
    z-index: 4;
    right: 0px;
    left: 0px;
}

.container-fluid {
    position: relative;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}

.navbar-brand img {
    width: 125px;
}

#navbarColor01 {
    transition: margin-right .5s;
}

input[type="search"] {
    /* background-color:; */
    border-radius: 25px;
    border: none;
    margin-left: auto;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.user-info {
    display: flex;
    height: auto;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    color: white;
    gap: 10px;
}

.dropdown-toggle-split {
    color: white !important;
}

.user-info h6 {
    margin: 0;
}

.menuToggle {
    z-index: 1000 !important;
    position: absolute;
    top: 0;
    right: 0;
    height: 80px;
    width: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
}

.menuToggle.active {
    position: fixed;
    top: auto;
}

.menuToggle::after {
    content: " ";
    z-index: 1000 !important;
    position: absolute;
    width: 25px;
    height: 2px;
    background: #ffffff;
    transform: translateY(-8px);
    transition: 0.5s;
}

.menuToggle::before {
    content: " ";
    z-index: 1000 !important;
    position: absolute;
    width: 25px;
    height: 2px;
    background: #ffffff;
    transform: translateY(8px);
    transition: 0.5s;
    box-shadow: 0 -8px 0 #ffffff;
}

.menuToggle.active::after {
    transform: translateY(0px) rotate(45deg);
    background-color: red;
    z-index: 1000 !important;
}

.menuToggle.active::before {
    transform: translateY(0px) rotate(-45deg);
    box-shadow: 0 0 0 transparent;
    background-color: red;
    z-index: 1000 !important;
}


/* sidebar */

.search-side {
    display: none;
}

.dropdown-menu {
    background-color: #212529;
}

.dropdown {
    list-style: none;
}

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 100;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    display: block;
}

.sidenav>li {
    padding-left: 10px;
}

.sidenav a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.side-fullwidth {
    width: 100%;
}

.side-width {
    width: 250px;
}

.margin-250 {
    margin-right: 250px;
}

#main {
    transition: margin-right .5s;
    min-height: 100vh;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/*Top container */

.button-holder {
    position: absolute;
    /* left:calc(50% - 190px); */
    /* bottom: 50%; */
    top: 0;
    width: 100%;
    height: 100%;
    /* width: 380px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: -5px 5px 45px -2px rgba(0,0,0,0.62);
-webkit-box-shadow: -5px 5px 45px -2px rgba(0,0,0,0.62);
-moz-box-shadow: -5px 5px 45px -2px rgba(0,0,0,0.62); */
}

.trailer-btn {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    color: #F0F0F0;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}

.trailer-text {
    font-size: 1.7rem;
    font-weight: 700;
}

.play-btn {
    font-size: 70px;
    color: white;
    padding-right: 10px;
}

.fadeInTop {
    -webkit-animation: fadeInTop 2s both;
    -moz-animation: fadeInTop 2s both;
    -o-animation: fadeInTop 2s both;
    animation: fadeInTop 2s both;
}

@-webkit-keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-moz-keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-o-keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* responsive */

@media screen and (max-width:900px) {
    .navbar-brand img {
        width: 100px;
    }
    input[type="search"] {
        width: 200px;
        height: 80%;
        font-size: 0.9rem;
    }
    button[type="submit"] {
        font-size: 0.9rem;
        padding: 4px;
    }
    .trailer-text {
        font-size: 1rem !important;
    }
    .play-btn {
        font-size: 40px !important;
    }
}

@media screen and (max-width:700px) {
    .search-nav {
        display: none !important;
    }
    .search-side {
        display: flex !important;
        justify-content: center;
        padding: 8px;
    }
    .user-info {
        margin: 0 20px;
    }
    input[type="search"] {
        margin-left: 0 !important;
        width: 100%;
        height: 40px;
        border-radius: 0.25rem;
    }
    button[type="submit"] {
        width: 30%;
    }
    .sidenav .nav-item {
        width: 100%;
    }
    #mySidenav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .user-info {
        margin: 0px 10px;
        width: 171px;
    }
    .navbar-brand img {
        width: 80px;
    }
}


/* footer */

footer {
    border-top: 1px solid #fff;
    background-color: #171717 !important;
    width: 100%;
}

section a.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid;
}

.foooter-container {
    text-align: left;
}

div ul>li {
    margin-bottom: 10px;
}

ul li>a {
    border-radius: 8px;
    text-decoration: none;
    transition: 0.5s;
    padding: 4px 8px;
}

ul li>a:hover {
    background-color: #fff;
    color: #000 !important;
    border: 1px solid #fff;
}


/* footer */

.sully_slide {
    height: 80vh;
}

.sully_carousel {
    height: 80vh;
    background-color: #8d8d8d;
    position: relative;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.sully_container {
    position: absolute;
    top: 50%;
    left: 50%;
}

.sully_link2 {
    position: absolute;
    right: 15%;
    bottom: -21.75rem;
    left: -95%;
    padding: 300px;
    z-index: 1;
    opacity: 0;
}

.sully_romntics {
    padding: 120px;
    position: relative;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    /*margin: 150px auto;*/
}

.sully_romntic_word {
    color: #F0F0F0;
    position: relative;
    font-size: 38px;
    margin: 0 auto -2px -39px;
}

.sully_romntic_word::after {
    content: " ";
    border-right: 3px solid rgb(236, 223, 100);
    height: 34px;
    position: absolute;
    left: -14px;
    top: 9px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.sully_ull {
    display: flex;
    justify-content: left;
    width: 98%;
    height: 341px;
    overflow-x: auto;
    overflow-y: hidden;
}

.sully_ull::-webkit-scrollbar {
    visibility: hidden;
}

.sully_romantic_image {
    display: flex;
    width: 90%;
    height: 100%;
    color: #F0F0F0;
    justify-content: center;
}

#sully_romntic_a {
    text-decoration: none;
    border: 2px solid;
    background-color: #2125298c;
    width: 85px;
    /*height: 25px;
    */
    padding: 1px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    position: absolute;
    left: 30%;
    text-align: center;
    font-size: 13px;
    top: 74%;
    color: white;
    z-index: 6;
    transition: .5ms;
    -webkit-transition: .5s;
    -moz-transition: .5ms;
    -ms-transition: .5ms;
    -o-transition: .5ms;
    transform: translateY( -50%, 200%);
    opacity: 0;
    -webkit-transform: translateY( -50%, 200%);
    -moz-transform: translateY( -50%, 200%);
    -ms-transform: translateY( -50%, 200%);
    -o-transform: translateY( -50%, 200%);
}

.sully_contanir:hover #sully_romntic_a {
    opacity: 1;
    transform: translateY(-150%);
    -webkit-transform: translateY(-150%);
    -moz-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    -o-transform: translateY(-150%);
}

#sully_romntic_a:hover {
    color: #000;
    background-color: white;
    border-color: #21252900;
}

.sully-icon-tv {
    position: relative;
    perspective: 300px;
    max-width: 210px;
    height: 290px;
    overflow: hidden;
}

.sully_star_tv {
    position: absolute;
    font-size: 28px;
    color: #e7d324;
    top: 8px;
    right: 5px;
    z-index: 6;
}

.sully_tv_rate {
    position: absolute;
    font-size: 12px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: #882e2e;
    top: 16px;
    right: 14px;
    z-index: 6;
}

.sully-img-contanier {
    position: relative;
    width: 100%;
    height: fit-content;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.sully-img-contanier::before {
    content: ' ';
    background-color: rgba(0, 0, 0, 0.39);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 5;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.sully_contanir:hover .sully-img-contanier::before {
    opacity: 1;
}

.sully_tv_img {
    width: 200px;
    height: 100%;
    /* margin: 0px 24px; */
    position: relative;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    z-index: 1;
}

.sully-img-contanier:hover {
    transform: translate3d(0px, 0px, 25px);
    -webkit-transform: translate3d(0px, 0px, 25px);
    -moz-transform: translate3d(0px, 0px, 25px);
    -ms-transform: translate3d(0px, 0px, 25px);
    -o-transform: translate3d(0px, 0px, 25px);
}

.sully_tv_text {
    color: white;
    font-size: 1.2rem;
    position: absolute;
    z-index: 6;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(50%, -200%);
    transition: 1s all;
    opacity: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -ms-transition: 1s all;
    -o-transition: 1s all;
    -webkit-transform: translateY(50%, -200%);
    -moz-transform: translateY(50%, -200%);
    -ms-transform: translateY(50%, -200%);
    -o-transform: translateY(50%, -200%);
    cursor: default;
}

.sully_contanir :hover .sully_tv_text {
    opacity: 1;
    transform: translateY(200%);
}

.sully_span {
    position: absolute;
    top: 50%;
    left: 70px;
    font-size: 30px;
    color: #e4bc4f;
    cursor: pointer;
    z-index: 3;
}

.sully_span:nth-of-type(2) {
    position: absolute;
    left: 95%;
    text-align: right;
}

.item-a {
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    /* min-width: 330px; */
    height: 100%;
    position: relative;
    left: 0;
    text-align: center;
    margin: 10px 20px;
}

.sully_contanir {
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    /* min-width: 330px; */
    height: 100%;
    position: relative;
    left: 0;
    text-align: center;
    perspective: 300px;
    z-index: 1;
    /* margin: 10px 20px;*/
}

.item-b {
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    /* min-width: 330px; */
    height: 100%;
    position: relative;
    left: 0;
    text-align: center;
    margin: 10px 20px;
}

.sully_spanb {
    position: absolute;
    top: 50%;
    left: 70px;
    font-size: 30px;
    color: #e4bc4f;
    cursor: pointer;
    z-index: 3;
}

.sully_spanb:nth-of-type(2) {
    position: absolute;
    left: 95%;
    text-align: right;
}